{% extends 'base.html.twig' %}
{% block body %}
	
{% for e in empresas %}

	<a  href="{{ path('dependencia_new', { 'idEmpresa': e.id}) }}" class="small-box-footer">
		<i class="fa fa-plus"></i><small> Nueva Dependencia</small>
	</a>
	<div class="box collapsed-box">
	    <div class="box-header with-border">
	      <h3 class="box-title">{{e.nombre}}</h3>

	      <div class="box-tools pull-right">
	        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
	          <i class="fa fa-minus"></i></button>
	      </div>
	    </div>
	    <!-- /.box-body -->
	    <div class="box-footer">
	    		
		     		{% for d in e.dependencias %}
		     			<div class="small-box bg-light-blue disabled color-palette col-md-1 container" style="    margin-right: 15px;
    						border-radius: 40px;">
			            <div class="inner" >
		     			<p><small>	 {{d.nombre}} </small></p>
			            </div>
			            <div class="icon">
			              <i class="fa  fa-folder-open"></i>
			            </div>
			            <a  href="{{ path('dependencia_show', { 'id': d.id }) }}" class="small-box-footer" style="   
    						border-radius: 150000px;">
			              <i class="fa fa-arrow-circle-right"></i>
			            </a>
			          </div>
		     		  {% endfor %}
	    </div>
	    <!-- /.box-footer-->
	</div>
{% endfor %}	
{% endblock %}
