{% extends 'base.html.twig' %}
{% block body %}
	
{% for e in empresas %}
	<div class="box">
	    <div class="box-header with-border">
	      <h3 class="box-title">{{e.nombre}}</h3>

	      <div class="box-tools pull-right">
	        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
	          <i class="fa fa-minus"></i></button>
	      </div>
	    </div>
	    <!-- /.box-body -->
	    <div class="box-footer">
	     	
	     	
		     
		     	<div class="btn-group">
		     		{% for d in e.dependencias %}
		     			<a class="btn btn-sm bg-light-blue color-palette" href="{{ path('dependencia_show', { 'id': d.id }) }}">{{d.nombre}}</a>
		     		  {% endfor %}
              	</div>
		  

	    </div>
	    <!-- /.box-footer-->
	</div>
{% endfor %}	
{% endblock %}
